{% extends 'base.html' %}

{% set title  = 'Create a tag' %}

{% block content  %}
  <form action="">
    <div class="mb-3">
      <label for="name-input" class="form-label">Name</label>
      <input 
      class="form-control"
      type="text" 
      name="name" 
      id="name-input" 
      placeholder="Enter a name for the tag"
      value="{{tag.name if tag else ''}}"
      >
    </div>
    <div class="d-flex gap-3 justify-content-end ">
      {% block button_group %}
        <button class="btn btn-outline-primary " type="submit" formaction="/tags" formmethod="GET">Cancel</button>
        <button class="btn btn-success " type="submit" formaction="/tags/new" formmethod="POST">Add</button>
      {% endblock %}
    </div>
  </form>
{% endblock %}